<!doctype html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{{ title }}</title>
    <script defer data-domain="graysonarts.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>